{% extends "default.html.twig" %}

{% block header %}
    {% include "layouts/menu.html.twig" %}
{% endblock %}

{% block main %}
    <div id="articles" class="container-fluid container mt-5">

        <div class="admin-menu-container">
            {% include "layouts/menu.admin.html.twig" %}
        </div>

        <div class="mt-5">
            <h1>Tous les articles</h1>
            <div class="mt-5">
                <div class="actions">
                    <a href="{{ baseurl }}/admin/articles/new" class="btn btn-success"><i class="fa-solid fa-plus"></i> Nouveau</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center" scope="col">Titre</th>
                            <th class="text-center" scope="col">Statut</th>
                            <th class="text-center" scope="col">Introtext</th>
                            <th class="text-center" scope="col">Autheur</th>
                            <th class="text-center" scope="col">Date de création</th>
                            <th class="text-center" scope="col">ID</th>
                            <th class="text-center" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>
                                    <a href="{{ baseurl }}/admin/articles/edit/{{ item.id }}">{{ item.title }}</a>
                                </td>
                                {% if item.state == 1 %}
                                    <td class="text-center fs-3">
                                        <form class="d-inline-block" action="{{ baseurl }}/admin/articles/updateState" method="POST">
                                            <input type="hidden" name="token" value="{{ securityToken }}">
                                            <input type="hidden" name="state" value="0">
                                            <input type="hidden" name="id" value="{{ item.id }}">
                                            <button type="submit" class="btn btn-status"><i class="fa-solid fa-circle-check text-success"></i></button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td class="text-center fs-3">
                                        <form class="d-inline-block" action="{{ baseurl }}/admin/articles/updateState" method="POST">
                                            <input type="hidden" name="token" value="{{ securityToken }}">
                                            <input type="hidden" name="state" value="1">
                                            <input type="hidden" name="id" value="{{ item.id }}">
                                            <button type="submit" class="btn btn-status"><i class="fa-solid fa-circle-xmark text-danger"></i></button>
                                        </form>
                                    </td>
                                {% endif %}
                                <td>{{ item.introtext|slice(0, 50)|raw }}...</td>
                                <td class="text-center">{{ item.author_name }}</td>
                                <td class="text-center">{{ item.created_at|date('d-m-Y à H:i') }}</td>
                                <td class="text-center">{{ item.id }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a class="btn btn-primary me-2" href="{{ baseurl }}/admin/articles/edit/{{ item.id }}"><i class="fa-solid fa-pen"></i></a>
                                        <form class="d-inline-block" action="{{ baseurl }}/admin/articles/delete" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ? Tous les commentaires de cet article seront supprimés ! Cette action est irréversible.');">
                                            <input type="hidden" name="token" value="{{ securityToken }}">
                                            <input type="hidden" name="id" value="{{ item.id }}">
                                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
{% endblock %}
