{% extends "default.html.twig" %}

{% block header %}
    {% include "layouts/menu.html.twig" %}
{% endblock %}

{% block main %}
    <div id="articles" class="container-fluid container mt-5">

        <div class="admin-menu-container">
            {% include "layouts/menu.admin.html.twig" %}
        </div>

        <div class="mt-5">
            <h1>Tous les commentaires</h1>
            <div class="table-responsive mt-5">
                <table class="table table-striped mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center" scope="col">Articles</th>
                            <th class="text-center" scope="col">Validations</th>
                            <th class="text-center" scope="col">Contenu</th>
                            <th class="text-center" scope="col">Autheur</th>
                            <th class="text-center" scope="col">Date de création</th>
                            <th class="text-center" scope="col">Date de mise-à-jour</th>
                            <th class="text-center" scope="col">ID</th>
                            <th class="text-center" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.post_title|slice(0, 100) }}</td>
                                {% if item.validation == 1 %}
                                    <td class="text-center text-success fs-3">
                                        <form class="d-inline-block" action="{{ baseurl }}/admin/comments/updateState" method="POST">
                                            <input type="hidden" name="token" value="{{ securityToken }}">
                                            <input type="hidden" name="validation" value="0">
                                            <input type="hidden" name="id" value="{{ item.id }}">
                                            <button type="submit" class="btn btn-status"><i class="fa-solid fa-circle-check text-success"></i></button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td class="text-center fs-3">
                                        <form class="d-inline-block" action="{{ baseurl }}/admin/comments/updateState" method="POST">
                                            <input type="hidden" name="token" value="{{ securityToken }}">
                                            <input type="hidden" name="validation" value="1">
                                            <input type="hidden" name="id" value="{{ item.id }}">
                                            <button type="submit" class="btn btn-status"><i class="fa-solid fa-circle-xmark text-danger"></i></button>
                                        </form>
                                    </td>
                                {% endif %}
                                <td>{{ item.content }}</td>
                                <td class="text-center">{{ item.author_name }}</td>
                                <td class="text-center">{{ item.created_at|date('d-m-Y à H:i') }}</td>
                                <td class="text-center">{{ item.update_at|date('d-m-Y à H:i') }}</td>
                                <td class="text-center">{{ item.id }}</td>
                                <td>
                                    <div class="d-flex">
                                        <form class="d-inline-block" action="{{ baseurl }}/admin/comments/delete" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer ce commentaire ?');">
                                            <input type="hidden" name="token" value="{{ securityToken }}">
                                            <input type="hidden" name="id" value="{{ item.id }}">
                                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
{% endblock %}
