{% extends "default.html.twig" %}

{% block header %}
    {% include "layouts/menu.html.twig" %}
{% endblock %}

{% block main %}
    <div id="articles" class="container-fluid container mt-5">

        <div class="admin-menu-container">
            {% include "layouts/menu.admin.html.twig" %}
        </div>

        <div class="mt-5">
            <h1>Tous les utilisateurs</h1>
            <div class="mt-5">
                <div class="actions">
                    <a href="{{ baseurl }}/admin/users/new" class="btn btn-success"><i class="fa-solid fa-plus"></i> Nouveau</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center" scope="col">Noms</th>
                            <th class="text-center" scope="col">Admins</th>
                            <th class="text-center" scope="col">E-mails</th>
                            <th class="text-center" scope="col">Créations</th>
                            <th class="text-center" scope="col">Validations</th>
                            <th class="text-center" scope="col">ID</th>
                            <th class="text-center" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td class="text-center">{{ item.name }}</td>
                                {% if item.is_admin %}
                                    <td class="text-center">Oui</td>
                                {% else %}
                                    <td class="text-center">Non</td>
                                {% endif %}
                                <td class="text-center">{{ item.email }}</td>
                                <td class="text-center">{{ item.created_at|date('d-m-Y à H:i') }}</td>
                                {% if item.validate %}
                                    <td class="text-center">
                                        <form class="d-inline-block" action="{{ baseurl }}/admin/users/updateValidation" method="POST">
                                            <input type="hidden" name="token" value="{{ securityToken }}">
                                            <input type="hidden" name="id" value="{{ item.id }}">
                                            <input type="hidden" name="validate" value="0">
                                            <button type="submit" class="btn btn-danger me-2"><i class="fa-solid fa-ban"></i></button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td class="text-center">
                                        <form class="d-inline-block" action="{{ baseurl }}/admin/users/updateValidation" method="POST">
                                            <input type="hidden" name="token" value="{{ securityToken }}">
                                            <input type="hidden" name="id" value="{{ item.id }}">
                                            <input type="hidden" name="validate" value="1">
                                            <button type="submit" class="btn btn-success me-2"><i class="fa-solid fa-check"></i></button>
                                        </form>
                                    </td>
                                {% endif %}
                                <td class="text-center">{{ item.id }}</td>
                                <td>
                                    <div class="d-flex">
                                        {% if item.is_admin %}
                                            <form class="d-inline-block" action="{{ baseurl }}/admin/users/updateRole" method="POST">
                                                <input type="hidden" name="token" value="{{ securityToken }}">
                                                <input type="hidden" name="is_admin" value="0">
                                                <input type="hidden" name="id" value="{{ item.id }}">
                                                <button type="submit" class="btn btn-secondary me-2"><i class="fa-solid fa-user"></i></button>
                                            </form>
                                        {% else %}
                                            <form class="d-inline-block" action="{{ baseurl }}/admin/users/updateRole" method="POST">
                                                <input type="hidden" name="token" value="{{ securityToken }}">
                                                <input type="hidden" name="is_admin" value="1">
                                                <input type="hidden" name="id" value="{{ item.id }}">
                                                <button type="submit" class="btn btn-warning me-2"><i class="fa-solid fa-user-gear"></i></button>
                                            </form>
                                        {% endif %}
                                        <form class="d-inline-block" action="{{ baseurl }}/admin/users/delete" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ? Tous les commentaires de cet utilisateur seront anonymisé ! Cette action est irréversible.');">
                                            <input type="hidden" name="token" value="{{ securityToken }}">
                                            <input type="hidden" name="id" value="{{ item.id }}">
                                            <button type="submit" class="btn btn-danger me-2"><i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
{% endblock %}
