{% extends "default.html.twig" %}

{% block header %}
    {% include "layouts/menu.html.twig" %}
{% endblock %}

{% block main %}
    <div id="articles" class="container-fluid container mt-5">

        <div class="admin-menu-container">
            {% include "layouts/menu.admin.html.twig" %}
        </div>

        <div class="mt-5">
            <h1>Tous les utilisateurs</h1>
            <div class="mt-5">
                <div class="actions">
                    <a href="{{ baseurl }}/admin/users/new" class="btn btn-success"><i class="fa-solid fa-plus"></i> Nouveau</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center" scope="col">Noms</th>
                            <th class="text-center" scope="col">Admins</th>
                            <th class="text-center" scope="col">E-mails</th>
                            <th class="text-center" scope="col">Créations</th>
                            <th class="text-center" scope="col">Validations</th>
                            <th class="text-center" scope="col">ID</th>
                            <th class="text-center" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td class="text-center">{{ item.name }}</td>
                                {% if item.is_admin %}
                                    <td class="text-center">Oui</td>
                                {% else %}
                                    <td class="text-center">Non</td>
                                {% endif %}
                                <td class="text-center">{{ item.email }}</td>
                                <td class="text-center">{{ item.created_at|date('d-m-Y à H:i') }}</td>
                                {% if item.validate %}
                                    <td class="text-center">Oui</td>
                                {% else %}
                                    <td class="text-center">Non</td>
                                {% endif %}
                                <td class="text-center">{{ item.id }}</td>
                                <td>
                                    <div class="d-flex">
                                        {% if item.is_admin %}
                                            <a class="btn btn-primary me-2" href=""><i class="fa-solid fa-user"></i></a>
                                        {% else %}
                                            <a class="btn btn-primary me-2" href=""><i class="fa-solid fa-user-gear"></i></a>
                                        {% endif %}
                                        <a class="btn btn-danger" href=""><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
{% endblock %}
