{% extends "default.html.twig" %}

{% block header %}
    {% include "layouts/menu.html.twig" %}
{% endblock %}

{% block main %}
    <div id="profil" class="container-fluid container mt-5">
        <div class="my-5">
            <h1 class="text-center">Modification de votre profil {{ user.name }}</h1>
            <div class="mt-5">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="profil--img text-center mb-3">
                            <img width="150" src="https://cdn-icons-png.flaticon.com/512/64/64572.png" alt="Photo de profil de {{ user.name }}">
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="profil--info">
                            <div class="mt-3">
                                <form class="mt-2" action="{{ baseurl }}/profil/edit" method="POST">
                                    <div class="mb-3">
                                        <label for="nameInput" class="form-label">Nom et prénom</label>
                                        <input type="text" class="form-control" name="name" id="nameInput" placeholder="Doe John" value="{{ user.name }}" required>
                                    </div>
            
                                    <div class="mb-3">
                                        <label for="emailInput" class="form-label">Adresse e-mail</label>
                                        <input type="email" class="form-control" name="email" id="emailInput" placeholder="john.doe@example.com" value="{{ user.email }}" required>
                                    </div>
                    
                                    <div class="mb-3">
                                        <label for="passwordInput" class="form-label">Mot de passe</label>
                                        <input type="password" class="form-control" name="password" id="passwordInput" placeholder="*******************">
                                    </div>
            
                                    <div class="mb-3">
                                        <label for="passwordConfirmInput" class="form-label">Confirmer le mot de passe</label>
                                        <input type="password" class="form-control" name="confirm_password" id="passwordConfirmInput" placeholder="*******************">
                                    </div>

                                    {% if error %}
                                        <div class="mb-3">
                                            <p><i class="text-danger">{{ error }}</i></p>
                                        </div>
                                    {% endif %}
                    
                                    <input type="hidden" name="token" value="{{ securityToken }}">
                                    <div class="mb-3 d-flex justify-content-end">
                                        <a href="{{ baseurl }}/profil" class="btn btn-danger mt-3 me-3">Annuler</a>
                                        <input class="btn btn-success mt-3" type="submit" value="Modifier">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
